{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4"> About</h1>
                <p>
                Welcome to our bed and breakfast website, created by Yubi! As an experienced developer, Yubi understands the importance of having a strong online presence in the competitive world of hospitality.
                <br>
                At Yubi, we work closely with bed and breakfast owners to create custom websites that not only look great, but also provide a seamless user experience and help them stand out from the crowd. Whether you're a new bed and breakfast owner looking to establish an online presence or an established property owner looking to refresh your website, Yubi has the expertise and knowledge to deliver the best possible solution.
                <br>
                We specialize in creating responsive websites that look great on any device, from desktops to smartphones. We also offer online booking integration to help you streamline your booking process and attract more guests.
                <br>
                In addition to website development, Yubi offers a range of software development services specifically tailored for bed and breakfast owners, including custom software development, software integration, and software maintenance. We can also provide professional photography and copywriting services to help you showcase your property and attract more guests.
                <br>
                At Yubi, we're dedicated to delivering high-quality work and exceptional service. We understand the unique challenges faced by bed and breakfast owners, and we're passionate about helping our clients succeed. We always go the extra mile to ensure that our clients are satisfied with their websites and software solutions.
                <br>
                Thank you for considering Yubi for your bed and breakfast website and software development needs. We look forward to working with you and helping you achieve your goals with a custom solution.                      
                </p>
            </div>
        </div>
    </div>
{{end}}
