{{template "base" .}}

{{define "content"}}
<div id="main-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/outside.jpg" class="d-block w-100" alt="..." height=500>
        <div class="carousel-caption d-none d-md-block">
          <p>Feel Comfort and Kimochi in Every Stay</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/bedroom.jpg" class="d-block w-100" alt="..." height=500>
        <div class="carousel-caption d-none d-md-block">
          <p>Let Our homes be Anata no Haven on Your Next Adventure</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/common.jpg" class="d-block w-100" alt="..." height=500>
        <div class="carousel-caption d-none d-md-block">
          <p>Home Away from Home: Utsukushi, Affordable, and kimochi</p>
        </div>
      </div>
    </div>
  </div>

  <div class= "container">

    <div class="row">
      <div class="col">
        <h1 class="text-center mt-4"> Welcome to WeebZ Home Bookings</h1>
        <p>
          Welcome to our affordable room booking website, where you can find the perfect budget-friendly accommodation for your next trip! 
          We understand that traveling can be expensive, which is why we've curated a selection of affordable rooms that don't compromise on comfort or quality. 
          With options available in cities around the world, you can find the perfect room for your needs and budget. 
          Our user-friendly platform allows you to search for rooms by location, date, price, and amenities, and with our easy booking process, you can secure your reservation in just a few clicks. 
          Plus, our 24/7 customer support is always here to help you with any questions or concerns. 
          Start planning your next adventure today and find the perfect budget-friendly room for your stay!
        </p>
        </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <a href="/search-availability" class="btn btn-success">Make Reservation Now</a>
        
      </div>
    </div>

  </div>

{{end}}