{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <h1>This is HOME page and below is my car</h1>
        </div>

        <img src="/static/images/mycar.jpg" height="500" width="700">
    </div>

{{end}}