{{template "base" .}}

{{define "content"}} 

  <div class= "container">

    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <div class="row">
        <div class="col">
            <img src="/static/images/natsu.jpg" class="img-fluid img-thumbnail mx-auto d-block room-image">
        </div>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="text-center mt-4"> Natsu Home</h1>
        <p>
          Welcome to Natsu home, your perfect retreat for a relaxing and comfortable stay. This beautiful home is located in a tranquil neighborhood surrounded by lush greenery, ensuring peace and privacy during your stay. 
          The interiors are beautifully designed, featuring modern furnishings, comfortable bedding, and plenty of natural light.
          <br> 
          The home boasts a fully-equipped kitchen, spacious living and dining areas, and a private outdoor patio perfect for enjoying a morning coffee or evening cocktail.
          <br>
          Whether you're traveling for business or pleasure, Natsu home is the perfect place to unwind and recharge. The home is conveniently located near local attractions, shopping, and dining options, making it the ideal base for exploring the area. You'll also enjoy access to modern amenities such as high-speed Wi-Fi and a flat-screen TV for your entertainment needs.
          <br>
          Our team is dedicated to ensuring your stay at Natsu home is as comfortable and enjoyable as possible. 
          We're available 24/7 to assist you with any questions or concerns, and we take pride in providing exceptional service. 
          Book your stay at Natsu home today and experience the ultimate in comfort and relaxation
        </p>
        </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        
      </div>
    </div>

  </div>

{{end}}

<script src="/static/js/roomsCommon.js"></script>

{{define "js"}}
    <script>
      var csrftoken = '{{.CSRFToken}}';
        document.getElementById("check-availability-button").addEventListener("click", function(){
          let attention = RoomCheckAvailabilityPrompt("1", csrftoken)
      })
    </script>
{{end}}


