{{template "base" .}}

{{define "content"}} 

  <div class= "container">

    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <div class="row">
        <div class="col">
            <img src="/static/images/natsu.jpg" class="img-fluid img-thumbnail mx-auto d-block room-image">
        </div>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="text-center mt-4"> Natsu Home</h1>
        <p>
          Your own waifu homes that will make you a W weeb. Your own waifu homes that will make you a W weeb.
          Your own waifu homes that will make you a W weeb. Your own waifu homes that will make you a W weeb.
          Your own waifu homes that will make you a W weeb. Your own waifu homes that will make you a W weeb.
          Your own waifu homes that will make you a W weeb. Your own waifu homes that will make you a W weeb.
          Your own waifu homes that will make you a W weeb. Your own waifu homes that will make you a W weeb.
        </p>
        </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        
      </div>
    </div>

  </div>

{{end}}

<script src="/static/js/roomsCommon.js"></script>

{{define "js"}}
    <script>
      var csrftoken = '{{.CSRFToken}}';
        document.getElementById("check-availability-button").addEventListener("click", function(){
          let attention = RoomCheckAvailabilityPrompt("1", csrftoken)
      })
    </script>
{{end}}


