{{template "base" .}}

{{define "content"}}
    
<div class= "container">

    <div class="row">
        <div class="col">
            <img src="/static/images/yuki.jpg" class="img-fluid img-thumbnail mx-auto d-block room-image">
        </div>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="text-center mt-4"> Yuki Home</h1>
        <p>
          Welcome to Yuki home, your cozy retreat in a winter wonderland. 
          This beautiful home is located in a scenic mountain town, offering breathtaking views of snow-capped peaks and serene forests. 
          The home is thoughtfully designed to create a warm and inviting atmosphere, with rustic decor, comfortable furnishings, and all the amenities you need for a comfortable stay.
          <br>
          The living area in Yuki home features a cozy fireplace, plush sofas, and a flat-screen TV, making it the perfect place to unwind after a day of skiing or exploring the winter wonderland. 
          The fully-equipped kitchen has everything you need to prepare a delicious meal, and the dining area offers stunning views of the snow-covered mountains.
          <br>
          The bedrooms in Yuki home are equally cozy, with comfortable beds and plenty of storage space. 
          The home also features a private outdoor hot tub where you can relax and soak up the stunning views of the surrounding winter wonderland.
          <br>
          Located just minutes from world-class skiing and snowboarding, Yuki home is the ideal base for your winter adventure. 
          After a day on the slopes, you can return to the comfort of your cozy home and relax in front of the fireplace.
          <br>
          Our team is dedicated to ensuring your stay at Yuki home is as enjoyable as possible. 
          We're available 24/7 to assist you with any questions or concerns, and we'll go above and beyond to make your stay a memorable one. 
          Book your stay at Yuki home today and experience the ultimate winter getaway.
        </p>
        </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        
      </div>
    </div>

  </div>

{{end}}

<script src="/static/js/roomsCommon.js"></script>

{{define "js"}}
    <script>
      var csrftoken = '{{.CSRFToken}}';
        document.getElementById("check-availability-button").addEventListener("click", function(){
          let attention = RoomCheckAvailabilityPrompt("2", csrftoken)
      })
    </script>
{{end}}